extends layout
block content
  main#dashboard.settings
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(type='text/javascript' src='/js/settings.js')
    include includes/navbar
    #content.content.container
      .col
        .container-fluid
          h2 Settings
          br
          .btn-group-vertical
            each setting, i in settings
              if setting.active
                button.btn.btn-primary.btn-lg.active
                  i.fas(class='fa-' + setting.icon)
                  span= "  " + setting.name
              else
                button.btn.btn-primary.btn-lg 
                  i.fas(class='fa-' + setting.icon)
                  span= "  " + setting.name
            button(onclick="window.location.href='/auth/logout'").btn.btn-danger.btn-lg Logout
      .col
        .container-fluid.settings-properties
          h2
            i.fas.fa-cog
            span  General Settings
          br
          .div.input-group.mb-3
            .div.input-group-prepend
              span.input-group-text Command Prefix
            input(type='text' value=prefix).form-control#prefix

          .div.input-group.mb-3
            .div.input-group-prepend
              span.input-group-text Client ID
            input(type='text' value=clientsecret).form-control#client_id

          .div.input-group.mb-3
            .div.input-group-prepend
              span.input-group-text Client Secret
            input(type='text' value=clientsecret).form-control#client_secret

          .div.input-group.mb-3
            .div.input-group-prepend
              span.input-group-text User Welcome Message
            input(type='text' value=message).form-control#message

          .div.input-group.mb-3
            .div.input-group-prepend
              span.input-group-text Token
            input(type='text' value=token).form-control#token


          .btn-group
            button.btn.btn-large.btn-success Save
            button.btn.btn-large.btn-danger Stop



